<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">URL Shortener</h1>
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input
            type="url"
            name="long_url"
            class="form-control"
            placeholder="Enter URL"
            required
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Shorten</button>
          </div>
        </div>
      </form>
      {% if error_message %}
      <div class="alert alert-danger">{{ error_message }}</div>
      {% endif %} {% if shortened_url %}
      <div class="alert alert-success">
        <p>
          Shortened URL:
          <a href="{{ shortened_url.long_url }}" target="_blank">
            {{ shortened_url.short_code }}
          </a>
        </p>
      </div>
      {% endif %}
      <a href="http://localhost:3000/" class="btn btn-secondary"><</a>
    </div>
  </body>
</html>
